.titleContainer {
  @extend .row;
  text-align: center;
}
.showFilterIcon {
  color: white !important;
  transition: 1s transform ease;
}
.filterContainer {
  transition: 0.5s transform ease;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.rightMenuContainer {
  display: flex;
}
.hidden {
  transform: translate(0, -100%)
}
.flipped {
  transform: rotate(180deg);
}
.searchInput {
  input {
    color: white !important;
  }
}
.footer {
  text-align: center;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  a {
    color: rgba(0, 0, 0, 0.54);
  }
}
.searchIcon {
  color: white !important;
  margin-left: 10px;
}
.searchContainer {
  margin-right: 10px;
  display: flex;
  align-items: center;
  &:focus, &:hover {
    & > *:first-child {
      @media (max-width: 600px) {
        width: 256px !important;
      }
    }
  }
  & > *:first-child {
    transition: 0.5s width ease;
    @media (max-width: 600px) {
      overflow: hidden;
      width: 0 !important;
    }
  }
}
