.titleContainer {
  @extend .row;
  text-align: center;
}
.showFilterIcon {
  color: white !important;
  transition: 1s transform ease;
}
.filterContainer {
  transition: 0.5s transform ease;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.hidden {
  transform: translate(0, -100%)
}
.flipped {
  transform: rotate(180deg);
}
.searchInput {
  input {
    color: white !important;
  }
}
