.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 15px;
}
.filter-container {
  flex: 1;
  margin: 10px;
}
.row-height-selector {
  flex: 1;
}
.filters-container {
  padding: 0 10px 10px 10px;
}
.filters-title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  line-height: 36px;
}
.slider-container {
  margin-top: 10px;
  padding: 16px;
  & > p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }
}
