.tick {
  width: 100%;
  position: relative;
  &:first-child {
    height: 20px !important;
  }
  & > p {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: rgb(179, 179, 179);
    margin: 0;
  }
  &:after {
    content: "";
    position: absolute;
    right: 2px;
    left: 2px;
    bottom: 0px;
    height: 1px;
    background-color: rgb(179, 179, 179);
  }
}
.class-container {
  position: absolute;
  padding: 0 5px;
  transition: 0.5s ease left, 0.5s ease width, 0.5s ease padding;
}
:global {
  .class-transition-enter {
    opacity: 0.01;
    transform: scale(0);
    transform-origin: 50% 50%;
  }

  .class-transition-enter.class-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 500ms ease, opacity 500ms ease;
  }

  .class-transition-leave {
    transform: scale(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }

  .class-transition-leave.class-transition-leave-active {
    opacity: 0.01;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 500ms ease, opacity 500ms ease;
  }
}
