.tick {
  width: 100%;
  position: relative;
  & > p {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: rgb(179, 179, 179);
    margin: 0;
  }
  &:after {
    content: "";
    position: absolute;
    right: 2px;
    left: 2px;
    bottom: 0px;
    height: 1px;
    background-color: rgb(179, 179, 179);
  }
}
.class-container {
  position: absolute;
  padding: 0 5px;
}
