.container {
  position: relative;
  top: 5px;
  left: 2px;
  right: 5px;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s padding ease;
}
.emptyClass .container {
  padding: 0px;
}
.name {
  margin: 0;
  font-size: 12px;
  color: rgb(33, 33, 33);
}
.popover {
  padding: 5px 15px;
  width: 300px;
  color: rgb(59, 57, 57);
}
.non-selected {
  opacity: 0.3;
}
.title {
  font-size: 15px;
  color: rgb(33, 33, 33);
  margin-top: 5px;
  margin-bottom: 0;
}
.section {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}
.description {
  font-size: 13px;
}
.room {
  font-size: 13px;
  a, a:visited, a:focus {
    color: gold;
  }
}
.capacity, .enrolment, .seats-left {
  font-size: 13px;
  flex: 1;
}
.capacity-details {
  display: flex;
  p {
    margin-top: 0;
  }
}
